body {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.container div {
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid white;
}

button {
    padding: 44px;
    margin: 44px;
    background-color: #0e004d;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#top {
    display: flex;
    justify-content: center;
    align-items: center;
}